* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #0e4597;
}

#navbar {
  width: 100%;
  font-weight: 600;
}

#navbar ul {
  height: 30px;
  background-color: #092f68;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navbar ul a {
  color: #fff;
}

#navbar ul a:hover {
  color: #1dcf17;
}

#header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 40px;
  align-items: center;
}

#logo {
  width: 75px;
  border: 2px solid #58d3e9;
  border-radius: 10px;
}

#title {
  font-size: 54px;
  color: #fff;
  /* margin: 0px auto 10px auto; */
  background-color: none;
}

#credits {
  text-align: center;
  font-weight: 600;
  color: #66bfe2;
}

#linkedin {
  text-decoration: none;
  color: #d3f1fd;
}

#card-form {
  margin: 50px 20px;
}

#card-form form input {
  width: 250px;
  background-image: none;
  padding: 10px 15px;
  font-size: 18px;
  border: 3px solid #1dcf17;
}

#card-form form input:hover,
#card-form form input:focus {
  outline: none;
  border: 3px solid #14a70f;
}

#card-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generate-cards-button {
  width: 75%;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bolder;
  color: #fff;
  background-color: #1dcf17;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  border: none;
  border-radius: 5%;
}

#generate-cards-button:hover {
  background-color: #14a70f;
}

#card-results {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 800px 0;
}

#card {
  margin: 11px 10px;
  color: #000;
  break-inside: avoid;
  font-size: 50px; 
  padding: 50px
}

#card tr th {
  font-weight: 900;
  padding: 15px 30px;
  background-image: none;
  color: #092f68;
  break-inside: avoid;
}

#card tr td {
  padding: 15px 30px;
  background-image: none;
  break-inside: avoid;
}
